<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>movieAppUITests</key>
		<dict>
			<key>testHorizontalScrollingPerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>299.008000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testLaunchPerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_ApplicationLaunch-AppLaunch.duration</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.980958</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>363000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>147667.667800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.120992</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.249192</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>40.200000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>15856.708267</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testScrollToEndPerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1432237.311200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>853008.767600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.475544</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.744501</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>200.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>17000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSearchFunctionality()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>10.400000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1275239.920400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>575312.378000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.412047</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>10.124775</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>28.672000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>15900.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSearchWatchlistWorkflow2()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2703310.042400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1246008.922600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.885659</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>12.802388</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>27.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>16104.652800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
